<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Stuff</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <!-- JUMBOTRON -->
        <div class="jumbotron text-center">
          <h1>Mars Information</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Search the web for updated Info</a></p>
        </div>
        
        <!-- Mars News -->
        <div class="row">
            <div class="col-md-10">
                <h2> {{ scrape_values[0].mars_news.title }} </h2>
                <p> {{ scrape_values[0].mars_news.description }} </p>
                <p> {{ scrape_values[0].mars_news.date }} </p>
            </div>
        </div>
        
        <!-- Featured Image -->
        <div class="card bg-dark text-white col-md-6">
          <img class="card-img" src= {{ scrape_values[0].featured_image_url }} style="width: 48rem;" >
              <div class="card-img-overlay">
                  <h5 class="card-title">Featured Mars Image</h5>
              </div>
        </div>
        
        <!-- Facts Table -->
        <div class="row">
            <div class="col-md-6">
              {{ scrape_values[0].facts_html_table | safe }}
            </div>
        </div>
        
        <!-- Image Cards -->
        <div class="row">
            <!-- Card 1 -->
            <div class="card card col-md-4" style="width: 24rem;">
              <img class="card-img-top img-responsive" 
               src={{ scrape_values[0].high_res_photos[0].img_url }} alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{ scrape_values[0].high_res_photos[0].title }}</h5>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="card card col-md-4" style="width: 24rem;">
              <img class="card-img-top img-responsive" 
               src={{ scrape_values[0].high_res_photos[1].img_url }} alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{ scrape_values[0].high_res_photos[1].title }}</h5>
              </div>
            </div>
            <!-- Card 3 -->
            <div class="card card col-md-4" style="width: 24rem;">
              <img class="card-img-top img-responsive" 
               src={{ scrape_values[0].high_res_photos[2].img_url }} alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{ scrape_values[0].high_res_photos[2].title }}</h5>
              </div>
            </div>
            <!-- Card 4 -->
            <div class="card card col-md-4" style="width: 24rem;">
              <img class="card-img-top img-responsive" 
               src={{ scrape_values[0].high_res_photos[3].img_url }} alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{ scrape_values[0].high_res_photos[3].title }}</h5>
              </div>
            </div>
        </div>

    </div>

</body>

</html>